$baseTextColor: #000;

a {
	color: #c55;
	cursor: pointer;

	&:hover {
		transition: 1s;
		text-shadow: 0 0 1px;
	}
}

strong {
	color: #f00;
}

html {
	border-top: 6px solid #fbb;
}

body {
	background: rgb(255, 250, 250);
}

.app {
	width: 80%;
	margin: 0 auto;
}

x-header {
	h1 {
		text-align: center;

		a {
			color: $baseTextColor;
			text-decoration: none;
		}
	}
	x-notification {
		p {
			position: fixed;
			width: 100%;
			margin: 0;
			top: 0;
			left: 0;
			text-align: center;
			border-bottom: 1px solid #ccc;
			background: #fff;
			color: #3a3;
		}
	}
}

match-record-search-form {
	form {
		text-align: center;
	}
}

history-records {
	display: block;
	margin-top: 20px;
}

$winnerColor: rgba(0,110,84,0.1);
match-records-table {
	table {
		width: 100%;
		margin: 0 auto;
		border: 1px solid #ccc;

		match-record-tr.winner {
			background: $winnerColor;
		}

		th, td {
			padding: 3px;
			border: 1px solid #ccc;
			text-align: center;

			a {
				color: $baseTextColor;
				text-decoration: none;
			}
		}
		th {
			background: #ddd;
		}
		td.winner {
			background: $winnerColor;
		}
	}
	.annotation {
		font-size: 12px;
		.winner-box {
			display: inline-block;
			width: 3em;
			color: $winnerColor;
			background: $winnerColor;
		}
	}
}

x-footer {
	footer {
		font-size: 12px;
	}
}

x-index {
	match-record-search-form {
		form {
			margin-top: 60px;
		}
	}
	match-record-search {
		article {
			margin-top: 20px;
		}
	}
	x-footer {
		footer {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 720px) {
	.app {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	match-records-table {
		th:nth-of-type(2) {
			display: none;
		}
		match-record-tr {
			td:nth-of-type(2) {
				display: none;
			}
		}
	}
}
